name: Post Merge
on:
  push:
    branches:
    - main
permissions:
  contents: read
  security-events: write
jobs:
  codeql:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: github/codeql-action/init@v3
      with:
        languages: go
    - uses: github/codeql-action/autobuild@v3
    - uses: github/codeql-action/analyze@v3
  scorecard:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ossf/scorecard-action@v2.3.0
      with:
        results_file: results.sarif
        results_format: sarif
    - uses: actions/upload-artifact@v3
      with:
        name: SARIF file
        path: results.sarif
        retention-days: 5
    - uses: github/codeql-action/upload-sarif@v3
      with:
        sarif_file: results.sarif
