on:
  push:
    tags:
      - '*'
permissions:
  id-token: write # Undocumented OIDC support.
  packages: write # To publish container images to GHCR
  contents: write # To create a release
jobs:
  release:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
    - uses: actions/setup-go@v4
      with:
        go-version: '~1.20'
    - uses: sigstore/cosign-installer@9becc617647dfa20ae7b1151972e9b3a2c338a2b
    - run: go install github.com/google/ko@v0.12.0
    - run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.workflow }} --password-stdin
    - run: KO_DOCKER_REPO=ghcr.io/${{ github.repository_owner }} ko publish -B ./cmd/allstar > container
    - run: docker pull $(cat container)
    - run: docker tag $(cat container) ghcr.io/${{ github.repository_owner }}/allstar:${{ github.ref_name }}
    - run: docker push ghcr.io/${{ github.repository_owner }}/allstar:${{ github.ref_name }}
    - run: COSIGN_EXPERIMENTAL=1 cosign sign -a git_sha=$GITHUB_SHA ghcr.io/${{ github.repository_owner }}/allstar:${{ github.ref_name }}
    - run: gh release create ${{ github.ref_name }} --notes "ghcr.io/${{ github.repository_owner }}/allstar:${{ github.ref_name }}"
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
