name: release

on:
  push:
    tags:
      - '*'

permissions: {}

jobs:
  release:
    runs-on: ubuntu-latest

    permissions:
      id-token: write # Undocumented OIDC support.
      packages: write # To publish container images to GHCR
      contents: write # To create a release

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.mod'
          check-latest: true
          cache: false

      - uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

      - uses: ko-build/setup-ko@d006021bd0c28d1ce33a07e7943d48b079944c8d # v0.9

      - run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor}} --password-stdin

      - run: ko publish -B ./cmd/allstar --tags ${{ github.ref_name }} --image-refs allstar.ref
        env:
          KO_DOCKER_REPO: ghcr.io/${{ github.repository_owner }}
          KO_DEFAULTPLATFORMS: linux/arm64,linux/amd64

      - run: ko publish -B ./cmd/allstar --tags ${{ github.ref_name }}-gha --image-refs allstar-gha.ref
        env:
          KO_DOCKER_REPO: ghcr.io/${{ github.repository_owner }}
          KO_DEFAULTBASEIMAGE: cgr.dev/chainguard/node:latest
          KO_DEFAULTPLATFORMS: linux/arm64,linux/amd64

      - run: |
          while read ref; do
            echo "signing $ref"
            cosign sign --yes -a git_sha="$GITHUB_SHA" "$ref"
          done < allstar.ref
          while read ref; do
            echo "signing $ref"
            cosign sign --yes -a git_sha="$GITHUB_SHA" "$ref"
          done < allstar-gha.ref

      - run: |
          gh release create ${{ github.ref_name }} --notes "Images:
          * ghcr.io/${{ github.repository_owner }}/allstar:${{ github.ref_name }} # Minimal image based on scratch
          * ghcr.io/${{ github.repository_owner }}/allstar:${{ github.ref_name }}-gha # Image for use as a GitHub Action"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
